*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(17, 17, 17);
    color: white;
}
.navbar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(73, 73, 73);
    height: 50px;
    margin: 10px 0px 10px 0px;
    list-style: none;
    cursor: pointer;
}

.App MovieList{
    display: flex;
    flex-wrap: wrap;
}